@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  background-color: #b7b7b756;
  border-radius: 4px;
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #adadad88;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #ababab;
}
